::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img:not(.logo) {
  width: 100%;
}

img {
  display: block;
}

h1,h2,h3,h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 1.75rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.59rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}


@media screen and (min-width: 1000px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }

  h1,h2,h3,h4 {
    line-height: 1;
  }

  .giveaway-information p {
    color: rgb(114, 114, 186);
    text-align: justify; 
  }
  
}

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px black;
  border-radius: var(--radius);
}
.btn:hover {
  color: white;
  background: black;

}

.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 5rem auto;
  max-width: 1170px;
}

.giveaway-img {
  margin-bottom: 1.5rem;
  margin-top: 2.5rem;
  margin-left: 6.5rem;
  margin-right: 6.5rem;
}

.giveaway-img img {
  border-radius: 15px; /*how the image-border radius looks*/
}

.giveaway-information h3 { 
  color: rgba(34, 34, 120, 0.874)
}

.giveaway-information p {
  color: black;
  text-align: justify; 
}

@media screen and (min-width: 992px) {
  .section-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 100vw;
  }

  .giveawy-img {
    margin-bottom: 0;
  }
}

.giveaway-information p {
  margin: 2rem 0;
}

.deadline {
  display: flex;
}

.deadline-style {
  background: rgb(62, 62, 108);
  color: black;
  margin-right: 2.5rem;
  width: 5rem;
  height: 5rem;
  display: grid;
  place-items: center;
  text-align: center;
  border-radius: 4px;
}

.deadline-style span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}

body {
    background-color: rgb(142, 142, 187);
}

.deadline h4:not(.expired) {
  font-size: 2rem;
  margin-bottom: 0.25rem;
  letter-spacing: normal;
}
